table {
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid #000000;
    font-family: "Times New Roman", serif;
    width: 35%;
}

th, td {
    border: 1px solid #000000;
    padding: 8px 12px;
    text-align: left;
}

.table-header {
    background-color: #dcdcdc;
}

.table-header th {
    font-weight: bold;
}