table {
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
}

th, td {
    border: 1px solid #000000;
    padding: 10px 30px;
    text-align: center;
}

th {
    background-color: #FFCC00;
    font-weight: bold;
    height: 50px;
    vertical-align: bottom;
    padding-bottom: 5px;
}