table {
    border-collapse: collapse;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    color: #ffffff;
}

th, td {
    border: 1px solid #800000;
    padding: 10px 20px;
    text-align: left;
}

.header-row {
    background-color: #800000; 
}


.data-row {
    background-color: #000080; 
}