table {
    width: 35%;
    border-collapse: collapse;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2a58ea;
    color: #fff;
    font-weight: normal;
    border-bottom: 2px solid #6678b1;
}

td {
    color: #669;
    border-bottom: 1px solid #0be052;
}

tr:nth-child(even) td {
    background-color: #e8edff;
}

tr:nth-child(odd) td {
    background-color: #b9c6f7;
}

tr:hover td {
    color: #ea2a36;
}