body {
 font-family: "Times New Roman", Times, serif;
 font-size: 16px;
 padding: 20px;
}

h2 {
 font-family: "Times New Roman", sans-serif;
 font-size: 18px;
 font-weight: bold;
 margin-top: 20px;
 margin-bottom: 10px;
}

p {
 margin-bottom: 20px;
 line-height: 1.4;
}

.letter-tight {
 letter-spacing: -1px;
}

.letter-loose {
 letter-spacing: 1px;
}

.word-tight {
 word-spacing: -1px;
}

.word-loose {
 word-spacing: 1px;
}