body {
 font-family: "Times New Roman", Times, serif;
 font-size: 18px;
 color: #000;
 padding: 20px;
}

p::first-letter {
 font-family: Arial, sans-serif;
 color: red;
 font-size: 32px;
 float: left;
 line-height: 0.8;
 padding-right: 2px;
}